<!-- <h1 [innerText]="getTitle()"></h1>
<input [placeholder]="inputPlaceHolder" type="text" />
<button
  [disabled]="isButtonDisable"
  (click)="onClickButtonDisable()"
  [ngClass]="isButtonDisable? 'red' : 'green'"
  >
    button {{isButtonDisable ? "disable" : "enable"}}
</button>
<label *ngIf="isButtonDisable">button anabel</label>
<button [ngClass]="buttonEnableClasses">isEnable</button>
<input placeholder="text" (input)="onInput($event)"/>

<div class="square" (mousemove)="onMouseMove($event)" >
 x: {{x}}, y: {{y}}
</div>

<input placeholder="change title" [(ngModel)]="title"/>

<button [ngClass]="switchingColors" (click)="onSwitchButton()">switch</button>

<input placeholder="email" [(ngModel)]="email" type="email" [ngClass]="validationError ? 'red-border' : ''" (input)="checkEmailValidation($event)"/>
<label *ngIf="validationError">{{validationError}}</label>

<div *ngFor="let person of persons; let index=index">
  <label>hello #{{index+1}} => {{person.name}}, {{person.age}}</label>
</div> -->

<!--
<div ngClass="messages-view">
  <h1>messages view</h1>

  <form >
    <input placeholder="add new message" [(ngModel)]="newMessage"  #message/>
    <button (click)="addNewMessage(message.value)">Add</button>
  </form>

  <div *ngFor="let message of messages">
    <label>{{message}}</label>
  </div>

  <label *ngIf="messages.length === 0">no messages</label>
</div> -->

<!--<select (change)="onChangeSelect($event)">
  <option value="full">full square</option>
  <option value="hollow">hollow square</option>
  <option value="circle">circle</option>
</select>

<div [ngSwitch]="selectValue">
  <div class="full" *ngSwitchCase="'full'"></div>
  <div class="hollow" *ngSwitchCase="'hollow'"></div>
  <div class="circle" *ngSwitchCase="'circle'"></div>
</div> -->

<app-header></app-header>
<div class="main">
  <app-damka > 
  </app-damka>
  <app-chat-room></app-chat-room>
 </div>
 <app-footer></app-footer>

